<div class="container mt-5">
	<nav class="navbar navbar-expand navbar-light bg-light">
		<a class="navbar-brand" href="/employee">Slot Allocation</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<button class="btn btn-danger" (click)="logout()">Logout</button>
				</li>
			</ul>
		</div>
	</nav>
	<div class="card mt-3">
		<div class="card-body">
			<h5 class="card-title">Get Me A Slot</h5>
			<form class="container" id="slotForm">
				<div class="slot-group row btn-group btn-group-toggle border rounded p-4 w-100 mx-auto mb-4" data-toggle="buttons">
					<div *ngFor="let slot of slotsList" class="col text-nowrap">
						<label class="btn btn-light {{slot.status==1 || alreadyAllocated ? 'disabled' : ''}} {{(alreadyAllocated && alreadyAllocated==slot.slotId) ? 'bg-primary' : 'bg-light'}}">
							<input type="radio" name="slot" id="{{slot.id}}" value="{{slot.slotId}}" [attr.disabled]="slot.status === 1 || alreadyAllocated ? 'disabled' : null"> {{slot.slotId}}
						</label>
					</div>
				</div>

				<!-- <div class="form-group">
					<label for="duration">Duration</label>
					<div class="input-group clockpicker">
						<input type="text" class="form-control" id="duration" placeholder="enter time in hours">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa-solid fa-clock"></i></span>
						</div>
					</div>
				</div> -->
				<button type="submit" class="btn btn-primary {{alreadyAllocated ? 'disabled' : ''}}" (click)="bookSlot()">Book Slot</button>
			</form>
		</div>
	</div>
</div>